<h1>Invoices</h1>

<!-- navbar: littleshop            merchants items invoices -->

<% @invoices.each do |invoice| %>
    <ul>
      <li><%= invoice.id %></li>
      <!-- <li><%= invoice.customer_id %></li>
      <li><%= invoice.merchant_id %></li>
      <li><%= invoice.status %></li>
      <li><%= invoice.created_at %></li>
      <li><%= invoice.updated_at %></li> -->
      <!-- <li>edit button</li>
      <li>delete button</li> -->
    </ul>
<% end %>