<!-- nav bar -->
<h1>Invoice: <%= @invoice.id %> - <%= @invoice.status %></h1> 
<!-- edit button           delete button -->

<!-- table of: 
item id    item title    quantity    unit price
 -->
 
 <h1>Invoice <%= @invoice.id %></h1>
 <form action="/invoices/<%=@invoice.id%>/edit" method="GET">
  <input type="hidden" name="_method" value="EDIT">
  <input type="submit" value="Edit">
</form>

<form action="/invoices/<%= @invoice.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input class="deletebutton" type="submit" value="Delete">
</form>