<!DOCTYPE html>
  <html>
<head>
  <meta charset="utf-8">
     <title>LittleShop</title>
     <link rel="stylesheet" type=text/css href="/stylesheets/main.css">

</head>

<h1> Merchants </h1>
<header>
  <nav id = 'navbar'>
        <ul>
          <li>LittleShop</li>
          <li>Merchants</li>
          <li>Items</li>
          <li> Invoices</li>
        </ul>
      </nav>
    </header>
<form action="/merchants/new">
    <input type="submit" value="Create A New Merchant">
  </form>
<% @merchants.each do |merchant| %>
  <ul>
    <li> Merchant Id: <%= merchant.merchant_id %></li>
    <li> Name:<a href="/merchants/<%=merchant.id%>"><%=merchant.name%></a> </li>
    <li> Created: <%= merchant.created_at %></li>
    <li> Updated: <%= merchant.updated_at %></li>
  </ul>
  <button type='button' value="Edit">
    <a href="/merchants/<%=merchant.id %>/edit">Edit
  </button>

  <form action="/merchants/<%= merchant.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>

<% end %>
</html>
